{% extends 'base.html' %}
{% load static %}


{% block content %}
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-clearfix u-custom-color-1 u-section-1" id="sec-e123">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="fr-view u-align-center u-clearfix u-rich-text u-text u-text-1">
          <h1 style="text-align: center;">Студио Краси Нейлс</h1>
          <p style="text-align: center;">
            <span style="line-height: 2.0;">Салон "Краси Нейлс" отваря врати през 2008г и от тогава до днес, дарява своите клиенти с
                усмивки и удовлетворение.При нас ще бъдете обслужени от професионалисти с дългогодишен опит и нюх към
                естетиката.Ние работим с най - добрите продукти, следваме новите техники на работа и модерните
                тенденций, за да получите самочувствие и усещане за красота. Ще имате възможност да се насладите на
                услугите ни в приятна обстановка и да положите финалните штрихи на вашата визия.
            </span>
          </p>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-custom-color-1 u-section-2" id="sec-a648">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-col">
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="380"
                       data-image-height="284">
                    <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
                  </div>
                  <div class="u-align-left u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                    <div class="u-container-layout u-container-layout-2">
                      <h2 class="u-text u-text-1">Краси Нейлс</h2>
                      <p class="u-text u-text-2">Символ на първокласно обслужване и професионализъм, отговарящ на
                          най-високите стандарти.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-align-left u-container-style u-layout-cell u-size-30 u-layout-cell-3">
                    <div class="u-container-layout u-container-layout-3">
                      <h2 class="u-text u-text-3">Индивидуален подход към всеки</h2>
                      <p class="u-text u-text-4">Нашият начин да покажем специално отношение към към хората, които ни се
                          доверяват, да откликнем най-пълно на техните очаквания и желания.</p>
                    </div>
                  </div>
                  <div class="u-container-style u-image u-layout-cell u-size-30 u-image-2" data-image-width="379" data-image-height="284">
                    <div class="u-container-layout u-valign-middle u-container-layout-4"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
    
