{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" media="screen">
{% endblock %}


{% block content %}
    <section class="u-clearfix u-custom-color-1 u-section-1" id="carousel_404e" style="max-width: 750px;;
    margin-left: 500px;">
        <div class="u-custom-color-1 u-expanded-width u-shape u-shape-rectangle u-shape-1">
            <div class="u-align-center u-border-20 u-border-custom-color-2 u-border-no-left u-border-no-right u-border-no-top u-container-style u-custom-border u-group u-radius-46 u-shape-round u-white u-group-1">
                <div class="u-container-layout u-valign-middle-xs u-container-layout-1">
                    <h2 class="u-text u-text-custom-color-2 u-text-default u-text-1" style="margin-bottom: 40px;">Вход</h2>
                    <div style="padding: 20px">
                        <form
                                action="{% url 'login_user' %}"
                                method="post">

                            {{ form }}

                            <input type="hidden" value="{{ next }}" name="next"/>
                            <div style="padding: 20px">
                                <button class=" u-border-none  u-button-style u-custom-color-2" style="padding: 10px; border-radius: 6px" >Вход</button>
                                or
                                <a href="{% url 'register_user' %}">Регистрация</a>
                            </div>
                            {% csrf_token %}

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}