{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=\, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static '/styles/styles.css' %}"/>
    <title>Fruitipedia</title>
</head>
<body>
<div id="wrapper">
    <header>
        <!-- Navigation -->
        <a id="logo" href="{% url 'index' %}">
            <img id="logo-img" src="{% static '/images/Logo.jpg' %}" alt="logo"/>
        </a>

        <nav>


            <div class="user">
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout_user' %}">Logout</a>
                {% else %}
                <a href="{% url 'login_user' %}">Login</a>
                <a href="{% url 'register_user' %}">Register</a>
                {% endif %}
                <a href="">ЗА НАС</a>
                <a href="">ЕКИП</a>
                <a href="{% url 'service_list' %}">УСЛУГИ</a>
            </div>

            <!-- If user profile has NOT been created -->
            <div class="guest">

                <a href="">Create Profile</a>

            </div>

        </nav>
    </header>

    <main>

    {% block content %}
    {% endblock %}

    </main>
</div>
<!-- footer -->
<footer id="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<div class="footer-widget">
							<h2>За нас</h2>
							<p>Център за красота и здраве "Хармония" е и място, където можете да релаксирате, да се насладите на многобройните SPA услуги, да поспортувате или да побъбрите с приятели на чаша ароматно кафе в кафе "Хармония".</p>

						</div>
					</div>
					<div class="col-xs-12 col-sm-3">
						<div class="footer-widget">
							<h2>Важни линкове</h2>
							<ul>
								<li><a href="">За нас</a></li>
								<li><a href="">Промоции</a></li>
								<li><a href="">Специални процедури</a></li>
								<li><a href="">Контакти</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3">
						<div class="footer-widget">
							<h2>Контакти</h2>
							<ul>
								<li><i class="fa fa-send" aria-hidden="true"></i> гр. Монтана ул. "Илия Маринов" №2 </li>
								<li><i class="fa fa-phone" aria-hidden="true"></i> 096 / 588 742</li>
								<li><i class="fa fa-phone" aria-hidden="true"></i> 0885 535 659 - козметични услуги</li>
								<li><i class="fa fa-phone" aria-hidden="true"></i> 0887 080 350 - маникюр</li>
								<li><i class="fa fa-phone" aria-hidden="true"></i> 0884 348 585 - фризъорство</li>
								<li><i class="fa fa-envelope-o" aria-hidden="true"></i> info@harmonia-bg.com</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3">
						<div class="footer-widget">
							<h2>Работно време</h2>
							<ul class="bussiness-hour">
								<li>Понеделник-Петък: <span class="pull-right">10.00 - 18.30</span></li>
								<li>Събота: <span class="pull-right">10.00 - 18.30</span></li>
								<li>Неделя: <span class="pull-right">Почивен ден</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="copyright text-center">
							<p>©copyright 2017 Хармония | Всички права запазени | Powered by webborisov</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>>