{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>Изтриване на профила</h2>
                    <form class="edit-form" method="post" action="{% url 'profile_delete' pk=request.user.pk %}">
                       {{ form }}

                        <button type="submit" class=" u-border-none  u-button-style u-custom-color-2" style="padding: 6px; border-radius: 6px">Изтрий</button>
                        {% csrf_token %}
                    </form>
                </div>
{% endblock %}